@import "styles/variaveis";
@import "styles/breakpoints";

.menu {
  
    @media (max-width: $desktop_xsm) {
      padding: 20px $padding-horizontal-mobile;
    }
    @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
      padding: 20px $padding-horizontal-sm;
    }
    @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
      padding: 20px $padding-horizontal-md;
    }
  &__item{
    display: flex;
    align-items: center;
  }
  &__text{
    color: $dark;
      cursor: pointer;
      font-size: 40px;
      font-weight: 600;
      text-decoration: none;
      transition: .2s ease;
      &:hover {
        color: $dark-grey;
      }
}

}
  .pokeIcons{
    fill: #4F4F4F;
    margin: 10px;
    width:25px;
    height:25px;
  }
  .text{
    font-size: 40px;
  }