@import "styles/variaveis";
@import "styles/breakpoints";

.menu {
  position:fixed;
  top:50px;
  &__item{
    display: flex;
    align-items: center;
  }
  &__text{
    color: $dark;
      cursor: pointer;
      font-size: 40px;
      font-weight: 600;
      text-decoration: none;
      transition: .2s ease;
      &:hover {
        color: $dark-grey;
      }
}

}
  .pokeIcons{
    fill: $grey-null;
    margin: 10px;
    width:25px;
    height:25px;
  }
  .text{
    font-size: 40px;
  }