@import "styles/variaveis";
@import "styles/breakpoints";

.container {
  display:flex;
  justify-content: center;
  @media (max-width: $desktop_xsm) {
    flex-direction: column;
    align-items: center;
    }
}
.perfil {
  width:20%;
  @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
    width:35%;
  }
  @media (max-width: $desktop_xsm) {
    width:35%;
    }
}

.title {
  text-align: center;
  color: $dark;
  font-size: 3rem;
  
}
.image {
  display: flex;
  justify-content: center;
  img{
  @media (max-width: $desktop_xsm) {
    width:70%;
    }
  }
}