@import 'styles/_breakpoints.scss';
@import 'styles/variaveis';

.bestPokes {
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}
.bestPoke {
  margin-bottom: 30px;;
  padding-left: 7em;
  &__image {
    width: 300px;
    margin-bottom: 10px;
    img {
      border-radius: 8px;
      width: 100%;
    }
  }
  &__button {
    background-color: $red;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 0;
    transition: .2s ease;
    width: 100%;
    &:hover {
      background-color: $red-dark;
    }
  }
}
.map{
  display: flex;
  justify-content: space-between;
  @media (max-width: $mobile) {
    flex-direction:column;
    
  }
  

  &__Kanto{
  width: 45%;
  @media (max-width: $mobile) {
    margin-bottom: 20px;
    width: 100%;
  }
  }
}



