@import "styles/variaveis";
@import "styles/breakpoints";

.footer {
  
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $red;
  display: flex;
  justify-content: center;

}
.footerContent {
  display: flex;
  align-items: center;
  @media (max-width: $desktop_xsm) {
      flex-direction: column;
    
  }
}

.logoContainer {
  margin-right: 20px; 
}

.Logo{
  width: 150px;
  height: 60px;
  @media (max-width: $desktop_xsm) {
    width:100px;
    height: 40px;
  }
  @media (max-width: $mobile) {
    width: 80px;
    height: 20px;
  }
}
.textContainer {
  flex: 1;
  @media (max-width: $desktop_xsm) {
  text-align: center;
  font-size: 13px;
  }
  @media (max-width: $desktop_xsm) {
  font-size: 10px;
  }
}
