@import "styles/breakpoints";
@import "../../styles/variaveis";

.ant-form-item {
  font-size: 18px;
}
.formButton {
  display:flex;
  justify-content: center;
}
.botao {
  background-color: $red;
}
.imgContainer {
  display: flex;
  justify-content: center;
  img{
    width: 100%;
  @media (max-width: $desktop_xsm) {
    margin: 3em 0em;
    }
    @media (max-width: $mobile) {
      margin: 10em 0em 0em 5em; 
      width:250px;
      }
  }
}
